<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilos.css">
    <title>Desenvolvimento Web</title>
</head>
<body>
    <h1>Página do curso Desenvolvimento Web</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo obcaecati, 
    quidem ad, iusto assumenda quod quo eos repellendus praesentium 
    possimus omnis ullam quisquam deleniti excepturi hic mollitia aperiam ex minima!</p>
</body>
</html>