<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo à página de saudação</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
    <h1>Bem vindo à página /saudacao</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Modi perspiciatis harum quidem eligendi fugiat distinctio itaque eveniet repellendus 
    ex placeat! Excepturi ipsum ullam laboriosam repellendus, eligendi eius 
    reiciendis repellat et.</p>
</body>
</html>